# Игнорируем скомпилированные классы
bin/
*.class

# Игнорируем файлы конфигурации IDE
*.iml
.idea/
.vscode/

# Игнорируем файлы зависимостей и временные файлы
*.log
*.tmp
*.swp

# Игнорируем jar-файлы (если не нужны в репозитории)
*.jar
